@model PokemonWebapp.ViewModels.HuntViewModel.HuntViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.User.Name's Profile Page</title>
</head>
<body>
    <h2>@Model.User.Name's Pokémons:</h2>
    <h3>
        <a href="/user/hunt">Let's go hunting!</a>
    </h3>
    <table border="1">
        <tr>
            <th width="70">
                Number
            </th>
            <th width="100">
                Type of Pokémon
            </th>
            <th width="100">
                Level of Pokémon
            </th>
            <th width="150">
                Cute picture
            </th>
        </tr>
    </table>

    <div>
        @{
            foreach (var pokemon in Model.User.Pokemons)
            {
                <table border="1">
                    <tr>
                        <th width="70">
                            @pokemon.Id
                       </th>
                        <th width="100">
                            @pokemon.Type
                        </th>
                        <th width="100">
                            @pokemon.Level
                        </th>
                        <th width="150">
                            <img src="~/Images/@(pokemon.Type).png" height="100" />
                        </th>
                    </tr>
                </table>
            }

        }
    </div>
</body>
</html>