@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
        @{
            for (int i = 0; i < Model.accountList.Count; i++)
            {
                <table style=" background-repeat:no-repeat; width:560px; margin:0;" cellpadding="5" cellspacing="0" border="1">
                    <tr style="height:40px; width:560px; margin:0;">
                        <td style="height:40px; width:40px; margin:0;">
                            @(i+1)
                        </td>
                        <td style="height:40px; width:140px; margin:0;">
                            @Model.accountList[i].Name
                        </td>
                        <td style="height:40px; width:140px; margin:0;">
                            @Model.accountList[i].Balance @Model.accountList[i].Currency
                        </td>
                        <td style="height:40px; width:140px; margin:0;">
                            @Model.accountList[i].AnimalType
                        </td>
                    </tr>
                </table>
            }
        }
</body>
</html>