@model List<RedditProject.Models.Redditpost>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
</head>
<body>
    <h1><a href="/posts/add" style="font-family:'Bungee Shade'">Add new post</a></h1>

    <table border="1" style="background-color: aqua">
        <tr>
            <td>
                Title
            </td>
            <td>
                Content
            </td>
            <td>
                Date of publish
            </td>
            <td>
                Upvote
            </td>
            <td>
                Downvote
            </td>
            <td>
                Sum of votes
            </td>
            <td>
                Upvote post
            </td>
            <td>
                Downvote post
            </td>
        </tr>
        @{
            foreach (var post in Model)
            {
                <tr>
                    <td>
                        @post.Title
                    </td>
                    <td>
                        @post.Content
                    </td>
                    <td>
                        @post.DateOfPost.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @post.UpVote
                    </td>
                    <td>
                        @post.DownVote
                    </td>
                    <td>
                        @{ 
                            var result = (@post.UpVote - @post.DownVote);
                        }
                        @result
                    </td>
                    <td align="center">
                        <a href="/posts/@post.Id/upvote"><img src="~/Images/up.png" height="25" /></a>
                    </td>
                    <td align="center">
                        <a href="/posts/@post.Id/downvote"><img src="~/Images/down.png" height="25" /></a>
                    </td>
                </tr>
             }
        }
    </table>


    
    
</body>
</html>