@model List<P03BankOfSimba.Models.BankAccount>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
</head>
<body>
    <h1>Accounts of the Bank</h1>

    <table border="1">
        <tr>
            <td width="140">
                Number
            </td>
            <td width="140">
                Name
            </td>
            <td width="140">
                Account
            </td>
            <td width="140">
                Animal type
            </td>
            <td width="140">
                Is he/she the King?
            </td>
            <td width="140">
                Is he/she a good guy?
            </td>
        </tr>
        @{
            int counter = 1;
            foreach (var account in Model)
            {
                <tr style="@(account.IsKing ? "background-color : gold; font-family: 'Gill Sans'; font-size: 30px" : "background-color : azure")">
                    <td>
                        @counter
                    </td>
                    <td>
                        @account.Name
                    </td>
                    <td>
                        @account.Balance @account.Currency
                    </td>
                    <td>
                        @account.AnimalType
                    </td>
                    <td>
                        @(account.IsKing ? "King" : "Not king")
                    </td>
                    <td>
                        @(account.IsGoodGuy ? "Good guy" : "Bad guy")
                    </td>
                </tr>
                counter++;
            }
        }
    </table>

</body>
</html>